@model CRS_Portal.Models.EntityLookupModel
@*<head>
    <script src="js/bootstrap-select.js"></script>
    <link rel="stylesheet" href="css/bootstrap-select.css">
</head>*@
<div class="modal-content" id="modalentityContent">
    <div class="modal-header">
        <h4 id="tppname">Add / Edit Entity Lookup details</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-horizontal form-fields cm-sec">
                    <div class="row form-group">
                        <label class="col-sm-4 control-label">
                            Entity Customer ID<span class="req"></span>
                        </label>
                        <div class="col-sm-8 z-pad">
                            <input name="entity.CUSTID" id="entityCustID" value="@Model.entity.CustID" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-4 control-label">
                            Entity Name
                        </label>
                        <div class="col-sm-8 z-pad">
                            <input name="entity.ENTITYNAME" id="entityName" value="@Model.entity.EntityName" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="inputtext5" class="col-sm-4 control-label">
                            Building Identifier <span class="req"></span>
                        </label>
                        <div class="col-sm-8 z-pad">
                            <input name="entity.BuildingIdentifier" id="BuildingIdentifier" value="@Model.entity.BuildingIdentifier" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="inputtext6" class="col-sm-4 control-label">
                            Street Name
                        </label>
                        <div class="col-sm-8 z-pad">
                            <input class="form-control" name="entity.StreetName" id="StreetName" value="@Model.entity.StreetName" type="text" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="inputtext7" class="col-sm-4 control-label">
                            District Name <span class="req"></span>
                        </label>
                        <div class="col-sm-8 z-pad">
                            <input class="form-control" name="entity.DistrictName" id="DistrictName" value="@Model.entity.DistrictName" type="text" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-horizontal form-fields cm-sec">
                    <div class="row form-group">
                        <label for="inputtext8" class="col-sm-4 control-label">
                            City
                        </label>
                        <div class="col-sm-8 z-pad">
                            <input class="form-control"  name="entity.City" id="City" value="@Model.entity.City" type="text" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="inputtext11" class="col-sm-4 control-label">
                            Postcode
                        </label>
                        <div class="col-sm-8 z-pad">
                            <input class="form-control" name="entity.PostCode" id="PostCode" value="@Model.entity.PostCode" type="text" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="inputtext12" class="col-sm-4 control-label">
                            Country Code
                        </label>
                        <div class="col-sm-8 z-pad">
                            @{
                                string title = "- [Choose country ] -";
                                <div class="col-xs-4 ">
                                    <select id="CountryCode" name="entity.CountryCode" class="form-control selectOption" data-title="@title">
                                        @{
                                            int j = 0;

                                            <option value="0">---- All ----</option>
                                            foreach (var item in Model.lstcountry)
                                            {
                                                j++;
                                                if (Model.entity.CountryCode == item.COUNTRYCD)
                                                {
                                                    <option selected value="@item.COUNTRYCD">@item.COUNTRYCD - @item.COUNTRY</option>
                                                }
                                                else
                                                {
                                                    <option  value="@item.COUNTRYCD">@item.COUNTRYCD - @item.COUNTRY</option>
                                                }
                                            }
                                        }

                                    </select>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="inputtext14" class="col-sm-4 control-label">
                            Email ID
                        </label>
                        <div class="col-sm-8 z-pad">
                            <input class="form-control" name="entity.EmailID" id="EmailID" value="@Model.entity.EmailID" type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <div class="form-horizontal form-fields cm-sec">
                    <div class="row form-group">
                        <label for="inputtext8" class="col-sm-2 control-label">
                            Entity Type<span class="req"></span>
                        </label>
                        <div class="col-sm-6 z-pad" style="">
                            @*@Html.DropDownListFor(M => M.lstEntityType,
                            new SelectList(Model.lstEntityType, "EntityType", "EntityType",Model.entity.AccHoldType),
                           "- [Choose Entity Type ] -",htmlAttributes:new { @class="form-control"})*@
                            @{
                                <div class="col-xs-4 ">
                                    <select id="EntityType" name="entity.AccHoldType" class="form-control selectOption" data-title="- [Choose Entity Type ] -">
                                        @{
                                            int l = 0;

                                            <option value="0">---- All ----</option>
                                            foreach (var item in Model.lstEntityType)
                                            {
                                                l++;
                                                if (Model.entity.AccHoldType!=null && Model.entity.AccHoldType.ToLower() == item.EntityType.ToLower())
                                                {
                                                    <option selected value="@item.EntityType">@item.EntityType</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.EntityType">@item.EntityType</option>
                                                }
                                            }
                                        }

                                    </select>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="sep-line">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3" style="font-size: 12px; text-align: left; padding-left: 21px;">
            </div>
            <div class="col-sm-3" style="font-size: 13px;vertical-align:middle">
                <label class="">Primary Country Tax Details<span style="color:red">*</span></label>
            </div>
            <div class="col-sm-3" style="font-size: 13px;vertical-align:middle">
                <label class="control-label">Secondary Country Tax Details</label>
            </div>
            <div class="col-sm-3" style="font-size: 13px;vertical-align:middle">
                <label class="control-label">Third Country Tax Details</label>
            </div>
        </div>
        <br />
        <div class="row">
            @*<div class="form-horizontal form-fields cm-sec">*@
            <div class="col-sm-3">
                <div class="form-group" style="margin-left:15px">
                    <label for="inputtext3" class="control-label">
                        Residential country code
                    </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">

                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">

                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">

                </div>
            </div>
            @*</div>*@
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group" style="margin-left:15px">
                    <label for="inputtex28" class="control-label">
                        Organisation Identification Number Type
                    </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">

                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">

                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group" style="margin-left:15px">
                    <label for="inputtex29" class="control-label">
                        Organisation Identification Number
                    </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <input class="form-control" name="entity.PCountryIdentityNo" id="PCountryIdentityNo" value="@Model.entity.PCountryIdentityNo" type="text" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <input class="form-control" name="entity.SecondCountryIdentityNo" id="SecondCountryIdentityNo" value="@Model.entity.SecondCountryIdentityNo" type="text" />
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <input class="form-control" name="entity.ThirdCountryIdentityNo" id="ThirdCountryIdentityNo" value="@Model.entity.ThirdCountryIdentityNo" type="text" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group" style="margin-left:15px">
                    <label for="inputtex29" class="control-label">
                        Organisation Identification Number Issued Country Code
                    </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">

                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">

                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="sep-line">
                </div>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <div class="col-md-5"></div>
        <button type="button" id="save" class="btn btn-primary mr-2 btn-lg">Save</button>
        <button type="button" id="cancel" class="btn btn-outline-primary btn-lg" data-dismiss="modal">Cancel</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Enable Live Search.
        //$('.selectOption').attr('data-live-search', true);

        //$('.selectOption').selectpicker(
        //    {
        //        width: '100%',
        //        title: $(this).data('title'),
        //        style: 'btn-info',
        //        size: 6
        //    });

    });
</script>
