@model CRS_Portal.Models.TransactionDetailsModel
<div class="modal-content" id="modalTransactionContent">
    <div class="modal-content">
        <div class="modal-header card-header card-header-primary bg-TelegramSingle">
            <h4 class="modal-title card-title" id="tppname" style="color:white;">Add / Edit Transaction details</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger alert-dismissible fade show" id="divTranErrorModal" role="alert" style="display:none">
                <strong><span id="divTranErrorMessModal">message</span></strong>
            </div>
            <form id="frmTranDetails">
                <input name="TranDetails.ID" id="TranDetailsID" value="@Model.TranDetails.ID" class="form-control" type="hidden" />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-horizontal form-fields cm-sec">
                            <div class="row form-group">
                                <label for="TranActBranch" class="col-sm-4 control-label">
                                    Account Branch<span class="req"></span>
                                </label>
                                <div class="col-sm-8 z-pad">
                                    <input name="TranDetails.ActBranch" id="TranActBranch" value="@Model.TranDetails.ActBranch" class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="TranActNo" class="col-sm-4 control-label">
                                    Account Number <span class="req"></span>
                                </label>
                                <div class="col-sm-8 z-pad">
                                    <input name="TranDetails.ActNo" id="TranActNo" value="@Model.TranDetails.ActNo" class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="TranSortCode" class="col-sm-4 control-label">
                                    SortCode <span class="req"></span>
                                </label>
                                <div class="col-sm-8 z-pad">
                                    <input name="TranDetails.SortCode" id="TranSortCode" value="@Model.TranDetails.SortCode" class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="TranIBAN" class="col-sm-4 control-label">
                                    IBAN <span class="req"></span>
                                </label>
                                <div class="col-sm-8 z-pad">
                                    <input name="TranDetails.IBAN" id="TranIBAN" value="@Model.TranDetails.IBAN" class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="TranCurCode" class="col-sm-4 control-label">
                                    Currency Code <span class="req"></span>
                                </label>
                                <div class="col-sm-8 z-pad">
                                    @*<input name="Tran.CurCode" id="TranCurCode" value="@Model.TranDetails.CurrCode" class="form-control" type="text" />*@
                                    @{
                                        string Currencytitle = "- [Choose Currency ] -";
                                        <div class="col-xs-4 ">
                                            <select id="TranCurCode" name="TranDetails.CurrCode" class="form-control selectOption" data-title="@Currencytitle">
                                                @{
                                                    int j = 0;

                                                    <option value="">@Currencytitle</option>
                                                    foreach (var item in Model.lstCurrency)
                                                    {
                                                        j++;
                                                        if (Model.TranDetails.CurrCode != null && Model.TranDetails.CurrCode == item.C8CCY)
                                                        {
                                                            <option selected value="@item.C8CCY">@item.C8CCY - @item.C8CUR</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.C8CCY">@item.C8CCY - @item.C8CUR</option>
                                                        }
                                                    }
                                                }

                                            </select>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="TranBalance" class="col-sm-4 control-label">
                                    Account Balance <span class="req"></span>
                                </label>
                                <div class="col-sm-8 z-pad">
                                    <input name="TranDetails.ActBal" id="TranBalance" value="@Model.TranDetails.ActBal" class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="TranIntAmt" class="col-sm-4 control-label">
                                    Interest Amount <span class="req"></span>
                                </label>
                                <div class="col-sm-8 z-pad">
                                    <input name="TranDetails.IntAmt" id="TranIntAmt" value="@Model.TranDetails.IntAmt" class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="TranpcustID" class="col-sm-4 control-label">
                                    Primary CustomerID <span class="req"></span>
                                </label>
                                <div class="col-sm-8 z-pad">
                                    <input name="TranDetails.PCUSTID" id="TranpcustID" value="@Model.TranDetails.PCUSTID" class="form-control" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-horizontal form-fields cm-sec">
                            <div class="row form-group">
                                <label for="TranPaymentCode" class="col-sm-4 control-label">
                                    Payment Code<span class="req"></span>
                                </label>
                                <div class="col-sm-8 z-pad">
                                    @*<input name="Tran.PaymentCode" id="TranPaymentCode" value="@Model.TranDetails.PaymentCode" class="form-control" type="text" />*@
                                    @{
                                        string PaymentCodeTitle = "- [Choose Payment Code ] -";
                                        <div class="col-xs-4 ">
                                            <select id="TranPaymentCode" name="TranDetails.PaymentCode" class="form-control selectOption" data-title="@PaymentCodeTitle">
                                                @{
                                                    int x = 0;

                                                    <option value="">@PaymentCodeTitle</option>
                                                    foreach (var item in Model.lstPaymentCode)
                                                    {
                                                        x++;
                                                        if (Model.TranDetails.PaymentCode != null && Model.TranDetails.PaymentCode == item.Code)
                                                        {
                                                            <option selected value="@item.Code">@item.Code - @item.Description</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.Code">@item.Code - @item.Description</option>
                                                        }
                                                    }
                                                }

                                            </select>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="inputtext8" class="col-sm-4 control-label">
                                    Account Closed
                                </label>
                                <div class="col-sm-8 z-pad" id="dvActClsRadio">
                                    @*<input  name="Tran.ActClosed" id="TranActClosed" value="@Model.TranDetails.ActClsInd" class="form-control" type="text" />*@
                                    @if (string.IsNullOrEmpty(Model.TranDetails.ActClsInd))
                                    {
                                        Model.TranDetails.ActClsInd = "0";
                                    }
                                    <span id="spClosedActYes">Yes @Html.RadioButtonFor(Model => Model.TranDetails.ActClsInd, "1")</span>
                                    <span id="spClosedActNo" class="col-sm-6">No @Html.RadioButtonFor(Model => Model.TranDetails.ActClsInd, "0")</span>

                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="TranClosedDate" class="col-sm-4 control-label">
                                    Account Closed Date
                                </label>
                                <div class="col-sm-8 z-pad">
                                    <input type="text" autocomplete="off" readonly name="TranDetails.ActClsDt" class="form-control datetimepicker" placeholder="Account Close Date" id="TranClosedDate" value="@Model.TranDetails.ActClsDt" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="TranOpenDate" class="col-sm-4 control-label">
                                    Account Open Date<span class="req"></span>
                                </label>
                                <div class="col-sm-8 z-pad">
                                    <input type="text" autocomplete="off" readonly name="TranDetails.ActOpenDt" class="form-control datetimepicker" style="background-color:white !important;" placeholder="Account Open Date" id="TranOpenDate" value="@Model.TranDetails.ActOpenDt" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="inputtext14" class="col-sm-4 control-label">
                                    Undocumented Account
                                </label>
                                <div class="col-sm-8 z-pad">
                                    @*<input name="Tran.Undocumented" id="TranUndocumented" value="@Model.TranDetails.UndocumentedActInd" class="form-control" type="text" />*@
                                    @if (string.IsNullOrEmpty(Model.TranDetails.UndocumentedActInd))
                                    {
                                        Model.TranDetails.UndocumentedActInd = "0";
                                    }
                                    <span>Yes @Html.RadioButtonFor(Model => Model.TranDetails.UndocumentedActInd, "1")</span>
                                    <span class="col-sm-6">No @Html.RadioButtonFor(Model => Model.TranDetails.UndocumentedActInd, "0", new { @checked = true })</span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="inputtext14" class="col-sm-4 control-label">
                                    Dormant Account
                                </label>
                                <div class="col-sm-8 z-pad">
                                    @*<input name="Tran.Dormant" id="TranDormant" value="@Model.TranDetails.DorActInd" class="form-control" type="text" />*@
                                    @if (string.IsNullOrEmpty(Model.TranDetails.DorActInd))
                                    {
                                        Model.TranDetails.DorActInd = "0";
                                    }
                                    <span>Yes @Html.RadioButtonFor(Model => Model.TranDetails.DorActInd, "1")</span>
                                    <span class="col-sm-6">No @Html.RadioButtonFor(Model => Model.TranDetails.DorActInd, "0", new { @checked = true })</span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="TranCusType" class="col-sm-4 control-label">
                                    Customer Type<span class="req"></span>
                                </label>
                                <div class="col-sm-8 z-pad">
                                    <input name="TranDetails.CustType" id="TranCusType" value="@Model.TranDetails.CustType" class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="TranActType" class="col-sm-4 control-label">
                                    Account Type<span class="req"></span>
                                </label>
                                <div class="col-sm-8 z-pad">
                                    <input name="TranDetails.ActType" id="TranActType" value="@Model.TranDetails.ActType" class="form-control" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="sep-line">
                        </div>
                    </div>
                </div>

                <h4 id="tppname" class="card-header card-header-primary bg-TelegramSingle" style="color:white;">Joint Customer Details</h4>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-horizontal form-fields cm-sec">
                            <div class="row form-group">
                                <label for="TranJ1CUSTID" class="col-sm-4 control-label">
                                    Joint CustomerID - 1
                                </label>
                                <div class="col-sm-8 z-pad">
                                    <input name="TranDetails.J1CUSTID" id="TranJ1CUSTID" value="@Model.TranDetails.J1CUSTID" class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="TranJ2CUSTID" class="col-sm-4 control-label">
                                    Joint CustomerID - 2
                                </label>
                                <div class="col-sm-8 z-pad">
                                    <input name="TranDetails.J2CUSTID" id="TranJ2CUSTID" value="@Model.TranDetails.J2CUSTID" class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="TranJ3CUSTID" class="col-sm-4 control-label">
                                    Joint CustomerID - 3
                                </label>
                                <div class="col-sm-8 z-pad">
                                    <input name="TranDetails.J3CUSTID" id="TranJ3CUSTID" value="@Model.TranDetails.J3CUSTID" class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="TranJ4CUSTID" class="col-sm-4 control-label">
                                    Joint CustomerID - 4
                                </label>
                                <div class="col-sm-8 z-pad">
                                    <input name="TranDetails.J4CUSTID" id="TranJ4CUSTID" value="@Model.TranDetails.J4CUSTID" class="form-control" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-horizontal form-fields cm-sec">
                            <div class="row form-group">
                                <label for="TranJ5CUSTID" class="col-sm-4 control-label">
                                    Joint CustomerID - 5
                                </label>
                                <div class="col-sm-8 z-pad">
                                    <input name="TranDetails.J5CUSTID" id="TranJ5CUSTID" value="@Model.TranDetails.J5CUSTID" class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="TranJ6CUSTID" class="col-sm-4 control-label">
                                    Joint CustomerID - 6
                                </label>
                                <div class="col-sm-8 z-pad">
                                    <input name="TranDetails.J6CUSTID" id="TranJ6CUSTID" value="@Model.TranDetails.J6CUSTID" class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="TranJ7CUSTID" class="col-sm-4 control-label">
                                    Joint CustomerID - 7
                                </label>
                                <div class="col-sm-8 z-pad">
                                    <input name="TranDetails.J7CUSTID" id="TranJ7CUSTID" value="@Model.TranDetails.J7CUSTID" class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <label for="TranJ8CUSTID" class="col-sm-4 control-label">
                                    Joint CustomerID - 8
                                </label>
                                <div class="col-sm-8 z-pad">
                                    <input name="TranDetails.J8CUSTID" id="TranJ8CUSTID" value="@Model.TranDetails.J8CUSTID" class="form-control" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <div class="col-md-5"></div>
            <button type="button" id="save" class="btn btn-primary mr-2 btn-lg">Save</button>
            <button type="button" id="cancel" class="btn btn-outline-primary btn-lg" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>
<link href="~/css/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/js/jquery.datetimepicker.full.js"></script>
<script>
    $(document).ready(function () {
        $('#save').click(function () {
            SaveTranData();
        });

        $('#frmTranDetails input[name="TranDetails.ActClsInd"]').on('change', function () {
            var IsAccountClosed = $('input[name="TranDetails.ActClsInd"]:checked', '#frmTranDetails').val();
            if (IsAccountClosed == "1") {
                $("#TranClosedDate").css("background-color", "white");
                $("#TranClosedDate").attr("disabled", false);
            }
            else {
                $("#TranClosedDate").attr("disabled", true);
                $("#TranClosedDate").css("background-color", "lightgrey");
            }

        });

        $('.datetimepicker').datetimepicker({
            format: 'Ymd',
            timepicker: false,
            autoclose: true,
            todayHighlight: true,
            maxDate: 0,
            validateOnBlur: false,
        }).datepicker('update', new Date());

    });


</script>